.blackFooter{
  background-color: black;
  border-top: 10px solid  rgb(228, 181, 28);

  bottom: 0px;
  height: 50px;

  align-self: stretch;

}

@media only screen and (min-width: 800px) {
  .blackFooter{
    /*grid view*/
    grid-area: footer;
    align-self: end;
    height: 100px;
  }
}

.movingBee {
  background-color: black;
  border-top: 20px solid  rgb(228, 181, 28);
  height: 30%;
  align-self: stretch;
}