.blackFooter{
  background-color: black;
  border-top: 10px solid  rgb(228, 181, 28);
  height: 50px;

  align-self: stretch;
  position: relative;
  bottom: 0;

}

.blackFooter::after {
  content: "";
  background-image: url(../images/pattern.png);
  background-repeat: repeat;
  background-position: 500px -75px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.5;
}

.menuFooter {
  height: 50px;
}



@media only screen and (min-width: 800px) {
  .blackFooter{
    /*grid view*/
    grid-area: footer;
    border-top: 20px solid  rgb(228, 181, 28);
    align-self: stretch;
    min-height: 100px;
    height: auto;

    display: flex;
    justify-content: center;
  }

  .navigationIcons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-flow: row;
  }
  
  .pureJoy {
    margin: 20px;
    height: 90px;
    width: 90px;
    position: relative;
    z-index: 1;
    background-color: rgb(222, 226, 228);
    text-align: center;
    box-shadow: 0px 0px 5px 1px white;
    align-self: end;
  }
  
  #pureJoyImage {
    object-fit: cover;
  }
  
  #menuText {
    color:white;
    margin: 30px;
    padding-left: 200px;
    font-family: 'Bree Serif', serif;
    align-self: start;
  }

  .menuFooter {
    height: 100px;
  }
  
  .movingBee {
    background-color: black;
    border-top: 20px solid  rgb(228, 181, 28);
    height: 30%;
    align-self: stretch;
    background-size: 90%;
    background-position: 0px -200px;
  }
  
  /*
  #movingBeeImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  */
}

