.blackFooter{
  background-color: black;
  border-top: 10px solid  rgb(228, 181, 28);

  bottom: 0px;
  height: 50px;

  align-self: stretch;
}

.movingBee {
  background-color: black;
  border-top: 20px solid  rgb(228, 181, 28);
  height: 30%;
  align-self: stretch;
}