/*Both*/

.patternedFooter{
  background-color: black;

  align-self: stretch;
  position: relative;
}

.patternedFooter::after {
  content: "";
  background-image: url(../images/pattern.png);
  background-repeat: repeat;
  background-position: 500px -75px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.5;
}

/*Mobile*/
@media only screen and (max-width: 600px) {
  .patternedFooter{
    /* Thinner */
    height: 50px;
    border-top: 10px solid  rgb(228, 181, 28);
  }
}

/*Desktop*/
@media only screen and (min-width: 600px) {
  .patternedFooter{
    /*grid view*/
    grid-area: footer;

    /* Thicker */
    min-height: 100px;
    height: auto;
    border-top: 20px solid  rgb(228, 181, 28);
  }
  
  .blackFooter {
    background-color: black;
    border-top: 20px solid  rgb(228, 181, 28);
    height: 30%;
    align-self: stretch;
    background-size: 90%;
    background-position: 0px -200px;
  }
}

