/*Both*/
.greenStrip {
  background-color:rgb(41, 131, 14);
  z-index: 1;
  font-family: 'Bree Serif', serif;
  color: white;
  align-self: stretch;
  position: relative;
  
  margin: 0;
  padding: 0;
  border-bottom: 15px solid rgb(231, 217, 12);
  
}

.greenStripMenu {
  background-color:rgb(41, 131, 14);
  z-index: 1;
  color: white;
  align-self: stretch;
  position: relative;
  
  margin: 0;
  padding: 0;
  border-bottom: 15px solid rgb(231, 217, 12);
  text-align: center;
  display: flex;
  justify-content: center;
}

.greenStripText{
  margin: 0px;
  padding-left: 10px;
  position: absolute;
  bottom: -10%;
}

.menuText{
  font-family: nunito, sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  margin: 10px;
  padding-left: 10px;
  position: absolute;
  bottom: -10%;
}

.greenStripTextSmall{
  margin: 0px;
  padding-left: 10px;
  position: absolute;
  bottom: -10%;
  font-size: 16pt;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .greenStrip {
    height: 60px;
  }

  .greenStripMenu {
    font-size: 18pt;
    height: 70px;
  }

  .greenStripText {
    font-size: 18pt;
  }

  .menuText{
    font-size: 16pt;
  }

  .greenStripTextSmall{
    font-size: 16pt;
  }
}

/* Desktop */
@media only screen and (min-width: 600px) {
  .greenStrip{
    /*grid view*/
    grid-area: header;
    height: 70px;
  }

  .greenStripMenu {
    /*grid view*/
    grid-area: header;
    height: 90px;
  }

  .menuText {
    font-size: 36pt;
  }

  .greenStripText {
    font-size: 24pt;
  }

  .greenStripTextSmall{
    font-size: 24pt;
  }

}
