.blueStrip {
  background-color:rgb(41, 131, 14);
  z-index: 1;
  font-family: 'Bree Serif', serif;
  font-size: 18pt;
  color: white;
  align-self: stretch;
  position: relative;
  
  margin: 0;
  padding: 0;
  height: 60px;
  border-bottom: 15px solid rgb(233, 213, 35);
  
}

.blueStripText{
  margin: 0px;
  padding-left: 10px;
  position: absolute;
  bottom: -10%;
}

.blueStripTextSmall{
  margin: 0px;
  padding-left: 10px;
  position: absolute;
  bottom: -10%;
  font-size: 16pt;
}

@media only screen and (min-width: 800px) {
  .blueStrip{
    /*grid view*/
    grid-area: header;
    height: 70px;
  }

  .blueStripText {
    font-size: 24pt;
  }

  .blueStripTextSmall{
    font-size: 24pt;
  }

}
