.navContainer {
    margin: 10px;
    background-image: linear-gradient(white, rgb(207, 203, 203));
    border: 3px solid rgb(194, 158, 12);
    border-radius: 50%;

    text-align: center;
    z-index: 2;
}


.navImage {
    object-fit: contain;
    border-radius: 50%;
    position: relative;
    top: 5%;
    height: 90%;
    width: 90%;
}

.navContainer:hover {
    transform: scale(1.2, 1.2);
}

.footer {
    height: 90px;
    width: 90px;
}

.menu {
    z-index: 5;
    width: 150px;
    height: 150px;
    display: flex;

    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
}

@media only screen and (max-width: 1000px) {
    .menu{
        z-index: 5;
        width: 90px;
        height: 90px;
        margin: 0px;
    }
}