.navContainer {
    margin: 10px;
    height: 70px;
    width: 70px;
    background-image: linear-gradient(white, rgb(207, 203, 203));
    border: 3px solid rgb(194, 158, 12);
    border-radius: 50%;

    text-align: center;
}

.navImage {
    object-fit: contain;
    border-radius: 50%;
    position: relative;
    top: 5%;
    height: 90%;
    width: 90%;
}

.navContainer:hover {
    transform: scale(1.2, 1.2);
}