/* Both */
.navContainer {
    margin: 10px;
    background-image: linear-gradient(white, rgb(207, 203, 203));
    border: 3px solid rgb(194, 158, 12);
    border-radius: 50%;
    text-align: center;
}


.navImage {
    object-fit: contain;
    border-radius: 50%;
    position: relative;
    top: 5%;
    height: 90%;
    width: 90%;
}

.menu {
    display: flex;

    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
}

.toolTipText {
    font-weight: bold;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .menu{
      width: 90px;
      height: 90px;
      margin: 0px;
    }

    .continueArrow {
        width: 50px;
        height: 50px;
    }

    .__react_component_tooltip {
        pointer-events: auto !important;
    }

    .mobileTooltip {
        margin: 10px !important;
    }

    .swipeContainer {
        position: relative;
    }

    .swipeHandStill {
        position: relative;
    }

    .swipeHandAnimated {
        position: relative;
        animation-name: swipe;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }

    @keyframes swipe {
        0% {left: 50px;}
        100% {left: -50px;}
    }
}

/* Desktop */
@media only screen and (min-width: 600px) {
    .navContainer:hover {
        transform: scale(1.2, 1.2);
    }
    
    .menu {
        width: 180px;
        height: 180px;
    }
}