.arrowContainer {
    background-image: linear-gradient(to-right, white, rgb(36, 35, 35));
    grid-area: arrow;
    justify-self: stretch;
    align-self: stretch;
}

.arrowImg {
}

.arrowImg:hover {
    box-shadow: -2px 0px 4px 2px blanchedalmond;
}