.arrowContainer {
    background-image: linear-gradient(to-right, white, rgb(36, 35, 35));
    align-self: center;
}

.arrowImg {
    height: 80%;
    width: 150px;
}

.arrowImg:hover {
    transform: scale(1.1, 1.1);
}

.left {
    grid-area: leftArrow;
    justify-self: start;
}

.right {
    grid-area: rightArrow;
    justify-self: end;
}