.arrowContainer {
    background-image: linear-gradient(to-right, white, rgb(36, 35, 35));
    grid-area: arrow;
    align-self: stretch;
    justify-self: end;
}

.arrowImg {
    height: 100%;
    width: 200px;
}

.arrowImg:hover {
    transform: scale(1.1, 1.1);
}