.blueProgressBar {
    grid-area: progress;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0px;
    margin: 0;
}
.circle {
    position: relative;
    z-index: 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;

    border: 10px solid rgb(148, 211, 226);
}

.verticalLine {
    height: 100px;
    width: 100px;
    position: relative;
    align-self: flex-start;
    left: 48%;
    border-left: 10px solid rgb(148, 211, 226);
}

#appears {
    position: relative;
    z-index: 1;
    transform: rotate(-90deg);
}

#invisible {
    opacity: 0;
}
