.blueProgressBar {
    grid-area: progress;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-self: center;
    align-self: center;
    padding: 10px;
    margin: 0;
}
.circle {
    position: relative;
    z-index: 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;

    border: 10px solid rgb(184, 152, 9);
}

.verticalLine {
    height: 100px;
    width: 0px;
    position: relative;
    align-self: center;
    border-left: 10px solid rgb(184, 152, 9);
    
}

#appears {
    position: relative;
    z-index: 1;
    transform: rotate(-90deg);
}

#invisible {
    opacity: 0;
}
