.goldProgressBar {
    grid-area: progress;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-self: center;
    align-self: center;
    padding: 10px;
    margin: 0;
}
.circle {
    position: relative;
    z-index: 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid rgb(184, 152, 9);
}

.horizontalLine {
    height: 0px;
    width: 100px;
    position: relative;
    align-self: center;
    border-top: 10px solid rgb(184, 152, 9);
}

.beekeeperProgress {
    content: url('../images/Beekeeper.png');
}

.tanzaniaProgress {
    content: url('../images/map.png');
}

.environmentProgress{
    content: url('../images/CO2.png');
}

.honeyProgress {
    content: url('../images/honey.png');
}

.appears {
    position: relative;
    z-index: 1;
   
    object-fit: contain;
    border-radius: 50%;
    position: relative;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;

}

.invisible {
    opacity: 0;
}
