#menuPage {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(white, rgb(187, 185, 185));
  font-family: Oxygen, sans-serif;
}

#iconGrid {
  margin-top: -50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: turquoise;
  width: 270px;
  height: 270px;
}


.iconButton{
  z-index: 5;
  width: 90px;
  height: 90px;
  background-color: blue;
  color: white; 
}

img {
  width: 90px;
  height: 90px;
}

.iconButtonEmpty {
  width: 90px;
  height: 90px;
  background-color: purple  ;
  color: white;
}

#honeyHeader {
  width: 100%;
  padding: 20px;
  margin: 0px;
  height: 20%;
  background-color: green;
}


#leftHoneyJar {
  width: 20%;
  height: 10%;
}

#honeyJar {
  margin-top: -30px;
  padding-top: 0;

  width: 30vmax;
  height: 30vmax;
  /**background-image;*/
}


