
:root {
   --mobileWidth: 600px;
}
#menuPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "left left left jar right right right"
        ". icon1 . jar . icon2 ."
        ". . icon3 . icon4 . ."
        "footer footer footer footer footer footer footer";
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(white, rgb(187, 185, 185));
    font-family: Oxygen, sans-serif;
}

.honeyHeaderLeft {
    grid-area: left;
    background-image: url("../images/header-left.png");
    background-position-y: -50px;
    background-repeat: no-repeat;
    background-size: cover;
}


.honeyHeaderRight {
    grid-area: right;
    background-image: url("../images/header-right.png");
    background-position-y: -50px;
    background-repeat: no-repeat;
    background-size: cover;
}


#icon1 {
    grid-area: icon1;
}

#icon2 {
    grid-area: icon2;
}

#icon3 {
    grid-area: icon3;
}

#icon4 {
    grid-area: icon4;
}

.navContainer {
    z-index: 5;
    width: 120px;
    height: 120px;
    display: flex;

    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
}

.iconButtonEmpty {
    width: 120px;
    height: 120px;
    opacity: 0;
}

#honeyJar {
    grid-area: jar;

    margin: 20px;
    width: 400px;
    height: 400px;
    /**background-image;*/
}

@media only screen and (max-width: 1000px) {

    /**Mobile Design**/
    #menuPage {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(white, rgb(187, 185, 185));
    font-family: Oxygen, sans-serif;
    }

    #iconGrid {
    margin-top: -50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 270px;
    height: 270px;
    }


    .navContainer{
        z-index: 5;
        width: 90px;
        height: 90px;
        margin: 0px;
    }

    .iconButtonEmpty {
    width: 90px;
    height: 90px;
    opacity: 0px;
    }

    #honeyHeader {
    width: 100%;
    height: 25%;
    padding: 5px;
    text-align: center;
    margin: 0px;
    background: url('../images/dripping-honey.png') no-repeat center;
    background-size: cover;
    }


    #leftHoneyJar {
    width: 20%;
    height: 10%;
    }

    #honeyJar {
    margin-top: -30px;
    padding-top: 0;

    width: 30vmax;
    height: 30vmax;
    /**background-image;*/
    }
}

