/* Both */

.healthFact {
    list-style: none;
}

.healthFact:before {
   content: '';
   display: inline-block;
   height: 10px;
   width: 10px;
   background-image: url('../../images/bee-bullet.png');
   background-size: 10px 10px;
}

/*Mobile*/

@media only screen and (max-width: 600px) {
    .honeyHealthPage {
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        width: 100vw;
        height: 100vh;

        font-family: nunito, sans-serif;
    }

    .honeyContent {
        align-self: center;

        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
        width: 95%;
        height: 80%;
    }

    .honeyHealthImage {
        width: 300px;
        height: 230px;

        border: 5px solid rgb(228, 181, 28);
    }

    .textPartInstructions {
        font-size: 12pt;
        background-image: linear-gradient(to right, white, rgb(175, 174, 174), white);
        text-align: center;
    }
}

/**Desktop**/

@media only screen and (min-width: 600px) {
    .honeyHealthPage {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr 2fr 1fr 1fr;
        grid-template-areas:
            "header header header"
            "leftArrow content rightArrow"
            "leftArrow progress rightArrow"
            "footer footer footer";
        width: 100vw;
        height: 100vh;
        font-family: nunito, sans-serif;
    }

    .honeyContent {
        grid-area: content;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-areas:
            "text text text button"
            "honey1 honey1 honey2 honey2"
            "list list list list";

        grid-gap: 10px;
        width: 100%;
        height: 80%;
    }

    .honeyHealthImage {
        width: 320px;
        height: 200px;

        border: 5px solid rgb(228, 181, 28);
        justify-self: center;
    }

    #honey1 {
        grid-area: honey1;
    }

    #honey2 {
        grid-area: honey2;
    }

    .textPart {
        grid-area: text;
        text-align: center;
        font-size: 12px;
    }

    #switchTextHealth{
        grid-area: button;
        background-color:white;
        font-size: 12pt;
        font-family: nunito, sans-serif;

        height: 60px;
        width: 120px;

        border: 5px solid rgb(41, 131, 14);
        border-radius: 10px;

        align-self: center;
        justify-self: center;
    }

    #switchTextHealth:hover {
        box-shadow: 0px 0px 5px 1px gray;
    }

    .listContainer {
      grid-area: list;
      font-size: 16pt;
      justify-self: center;

      display: flex;
      justify-content: center;
    }

    .healthFactsList {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        width: 80%;
    }

    .healthFact {
        width: 40%;
    }

    #healthPart1 {
        font-size: 16pt;
    }

    #healthPart3 {
        font-size: 1em;
    }

    .goldProgressBar {
        margin-top:-30px
    }

}