/* Mobile */

@media only screen and (max-width: 600px) {
    .honeyHarvestPage {
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        width: 100vw;
        height: 100vh;

        font-family: nunito, sans-serif;
    }

    .harvestContent {
        align-self: center;

        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
        width: 95%;
        height: 80%;
    }

    .honeyHarvestImage {
        width: 300px;
        height: 230px;

        border: 5px solid rgb(228, 181, 28);
    }

    .textPart {
        padding: 10px;
        text-align: center;

        border-top: 10px solid rgb(41, 131, 14);
        border-bottom: 10px solid rgb(41, 131, 14);
    }

    .medalledImage {
        width: 90%;
        text-align: center;
    }
    .medalsBar {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        z-index: 1;
        
        bottom: 20px;
        position: relative;
        width: 100%;
    }

    .medalContainer {
        width: 90px;
        height: 90px;
        border-radius: 45px;

        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .medalImage {
        width: 90px;
        height: 90px;
    }

    .textPartInstructions {
        font-size: 12pt;
        background-image: linear-gradient(to right, white, rgb(175, 174, 174), white)
    }
}

/**Desktop**/

@media only screen and (min-width: 600px) {
    .honeyHarvestPage {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr 2fr 1fr 1fr;
        grid-template-areas:
            "header header header"
            "leftArrow content rightArrow"
            "leftArrow progress rightArrow"
            "footer footer footer";
        width: 100vw;
        height: 100vh;
        font-family: nunito, sans-serif;
    }

    .harvestContent {
        grid-area: content;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "harvest1 part1 medalBar"
            "part2 harvest2 part3";

        grid-gap: 20px;
        width: 100%;
        height: 100%;
    }

    .honeyHarvestImage {
        width: 280px;
        height: 200px;

        border: 5px solid rgb(228, 181, 28);
    }

    #harvest1 {
        grid-area: harvest1;
    }

    #harvest2 {
        grid-area: harvest2;
    }

    #part1 {
        grid-area: part1;
        text-align: right;
        border-right: 7px solid rgb(41, 131, 14);
        align-self: center;
        height: auto;
    }

    #part2 {
        grid-area: part2;
        text-align: left;
        border-left: 7px solid rgb(41, 131, 14);
        align-self: center;
        height: auto;
    }
    
    #part3 {
        grid-area: part3;
        text-align: center;
        justify-self: center;
        width: 80%;
    }

    .textPartHarvest {
        padding: 10px;
        font-size: 1em;
    }

    .medalsBar {
        align-self: end;
        justify-self: end;
        display: flex;
        flex-flow: row;
        justify-content: center;
        width: 100%;
    }

    .medalContainer {
        width: 90px;
        height: 90px;
        border-radius: 45px;
        margin: 10px;

        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .medalImage {
        width: 90px;
        height: 90px;
    }
}