/*Both*/
#landingPage {
    display: flex;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    color: white;
    align-items: center;

    background-color: rgb(0, 0, 0);
}

#imgContainer {
    position: fixed;
    top: 0px;
    display: flex;
    flex-flow: row;
    width: 100%;
    overflow: hidden;
}

#landingPageBox {
    margin-top: 10%;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(220, 221, 222, 0.8);

}

#background {
    height: 850px;
    width: 1050px;
}

#codeBoxHeader {
    font-family: 'Nunito', sans-serif;
}

/* Form elements apply to both */
#submitButton {
    margin: 15px;
    padding: 5px;

    color: white;
    font-size: larger;
    border: 1px solid rgba(220, 221, 222, 0.8);
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0);
}

#inputForm {
    margin: 10px;
    color: black;
    height: 30px;
    padding: 4px;

    background-color: rgba(255, 255, 255, 0.7);
    border: 0 solid white;
}


/*Desktop*/
@media only screen and (min-width: 600px) {
    #landingPage {
        justify-content: space-between;
    }

    #imgContainer {
        height: 70%;
    }

    #landingPageBox {
        width: 500px;
        height: 350px;
        padding: 10px;

        z-index: 1;
    }

    #left {
        flex: 1 1 auto;
        background-color:#FCFFF3;
        background-image: url('./images/pattern.png');
        background-position: -100px -50px;
        opacity: 1;
    }
    
    #right {
        flex: 1 1 auto;
        background-color: #FCFFF3;
        background-image: url('./images/pattern.png');
        background-position: -300px -50px;
        opacity: 1;
    }
    
    #background {
        border-left: 25px solid rgb(192, 150, 11);
        border-right: 25px solid rgb(192, 150, 11);
        z-index: 0;
    }

    #submitButton:hover {
        box-shadow: 0px 0px 2px 1px white;
    }

    #codeBoxHeaderSub {
        font-size: 16pt;
    }
    
    #autoCode {
        font-size: 14pt;
    }
    
    
}

/*Mobile*/
@media only screen and (max-width: 600px) {
    #landingPage {
        justify-content: center;
    }

    #imgContainer {
        height: 100%;
    }

    #background {
        top: -40px;
        left: -300px;
    }

    #landingPageBox {
        width: 80%;
        height: 40%;
        padding: 10px;
        position: relative;
        top: 100px;
    }

    #codeBoxHeader {
        font-size: 18pt;
        line-height: 5px;
    }

    #codeBoxHeaderSub {
        font-size: 12pt;
    }

    #autoCode {
        font-size: 12pt;
    }
    
}