
/*Desktop*/

#landingPage {
    display: flex;
    flex-flow: column;
    width: 100vw;
    height: 100vh;

    font-family: 'Nunito', sans-serif;
    color: white;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(0, 0, 0);
}

#imgContainer {
    position: fixed;
    top: 0px;
    height: 70%;
    display: flex;
    flex-flow: row;
    width: 100%;
    overflow: hidden;
}

#codeBoxHeader {
    font-family: 'Nunito', sans-serif;
}

#left {
    flex: 1 1 auto;
    background-color:rgb(30, 33, 43);
    background-image: url('./images/pattern.png');
    background-position: -100px -50px;
    opacity: 0.6;
}

#right {
    flex: 1 1 auto;
    background-color: rgb(30, 33, 43);
    background-image: url('./images/pattern.png');
    background-position: -300px -50px;
    opacity: 0.6;
}

#background {
    height: 850px;
    width: 1050px;
    border-left: 50px solid rgb(97, 77, 14);
    border-right: 50px solid rgb(97, 77, 14);
    z-index: 0;
}

#landingPageBox {
    z-index: 1;
    width: 500px;
    height: 300px;
    margin-top: 10px;
    padding: 10px;
    
    text-align: center;

    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(220, 221, 222, 0.8);

}


#submitButton {
    margin: 15px;
    padding: 5px;

    color: white;
    font-size: larger;
    border: 1px solid rgba(220, 221, 222, 0.8);
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0);
}

#submitButton:hover {
    box-shadow: 0px 0px 2px 1px white;
}

#inputForm {
    margin: 10px;
    color: black;
    height: 30px;
    padding: 4px;

    background-color: rgba(255, 255, 255, 0.7);
    border: 0 solid white;
}


/*Mobile*/
@media only screen and (max-width: 600px) {
    #imgContainer {
        height: 100%;
    }

    #background {
        border: 0 solid black;
        position: relative;
        top: -40px;
        left: -300px;
    }

    #landingPage {
        justify-content: center;
    }

    #landingPageBox {
        width: 80%;
        height: 40%;
        padding: 10px;
        position: relative;
        top: 100px;
    }

    #codeBoxHeader {
        font-size: 18pt;
        line-height: 5px;
    }

    #codeBoxHeaderSub {
        font-size: 12pt;
    }
}