
/* Mobile Styles */
#landingPage {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;

    font-family: 'Pacifico', cursive;
    color: black;
    align-content: flex-start;
    align-items: center;
    background-color: rgb(253, 222, 84);
}

#autoCode {
    font-family: Oxygen, sans-serif;
}

#landingPageBox {
    width: 80vw;
    height: 50vh;
    margin: auto;
    padding: 3px;
    
    text-align: center;

    background-color: rgba(0, 0, 0, 0);
}

#submitButton {
    margin: 15px;
    padding: 5px;

    font-size: larger;
    border-radius: 10%;
    border: 0px solid black;
    background-color: rgba(252, 252, 252, 1);
}

#inputForm {
    margin: 10px;
    color: black;
    height: 30px;
    padding: 4px;

    border: 1px solid black;
}

/* Desktop Styles */

/*
#landingPage {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;

    font-family: 'Pacifico', cursive;
    color: black;
    align-content: flex-start;
    align-items: center;
    background-color: rgb(253, 222, 84);
}

#autoCode {
    font-family: Oxygen, sans-serif;
}

#landingPageBox {
    width: 80vw;
    height: 50vh;
    margin: 5vh;
    padding: 3px;
    
    text-align: center;

    background-color: rgba(0, 0, 0, 0);
}

#submitButton {
    margin: 15px;
    padding: 5px;

    font-size: larger;
    border-radius: 10%;
    border: 0px solid black;
    background-color: rgba(252, 252, 252, 1);
}

#inputForm {
    margin: 10px;
    color: black;
    height: 30px;
    padding: 4px;

    border: 1px solid black;
}

/*
#landingPage {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;

    font-family: 'Pacifico', cursive;
    color: black;
    align-content: flex-start;
    align-items: center;
    background-color: rgb(253, 222, 84);
}

#autoCode {
    font-family: Oxygen, sans-serif;
}

#landingPageBox {
    width: 80vw;
    height: 50vh;
    margin: 5vh;
    padding: 3px;
    
    text-align: center;

    background-color: rgba(0, 0, 0, 0);
}

#submitButton {
    margin: 15px;
    padding: 5px;

    font-size: larger;
    border-radius: 10%;
    border: 0px solid black;
    background-color: rgba(252, 252, 252, 1);
}

#inputForm {
    margin: 10px;
    color: black;
    height: 30px;
    padding: 4px;

    border: 1px solid black;
}

/*
#landingPage {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;

    font-family: 'Pacifico', cursive;
    color: black;
    align-content: flex-start;
    align-items: center;
    background-color: rgb(253, 222, 84);
}

#autoCode {
    font-family: Oxygen, sans-serif;
}

#landingPageBox {
    width: 80vw;
    height: 50vh;
    margin: 5vh;
    padding: 3px;
    
    text-align: center;

    background-color: rgba(0, 0, 0, 0);
}

#submitButton {
    margin: 15px;
    padding: 5px;

    font-size: larger;
    border-radius: 10%;
    border: 0px solid black;
    background-color: rgba(252, 252, 252, 1);
}

#inputForm {
    margin: 10px;
    color: black;
    height: 30px;
    padding: 4px;

    border: 1px solid black;
}

/*
#landingPage {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;

    font-family: 'Pacifico', cursive;
    color: black;
    align-content: flex-start;
    align-items: center;
    background-color: rgb(253, 222, 84);
}

#autoCode {
    font-family: Oxygen, sans-serif;
}

#landingPageBox {
    width: 80vw;
    height: 50vh;
    margin: 5vh;
    padding: 3px;
    
    text-align: center;

    background-color: rgba(0, 0, 0, 0);
}

#submitButton {
    margin: 15px;
    padding: 5px;

    font-size: larger;
    border-radius: 10%;
    border: 0px solid black;
    background-color: rgba(252, 252, 252, 1);
}

#inputForm {
    margin: 10px;
    color: black;
    height: 30px;
    padding: 4px;

    border: 1px solid black;
}

/*
#landingPage {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;

    font-family: 'Pacifico', cursive;
    color: black;
    align-content: flex-start;
    align-items: center;
    background-color: rgb(253, 222, 84);
}

#autoCode {
    font-family: Oxygen, sans-serif;
}

#landingPageBox {
    width: 80vw;
    height: 50vh;
    margin: 5vh;
    padding: 3px;
    
    text-align: center;

    background-color: rgba(0, 0, 0, 0);
}

#submitButton {
    margin: 15px;
    padding: 5px;

    font-size: larger;
    border-radius: 10%;
    border: 0px solid black;
    background-color: rgba(252, 252, 252, 1);
}

#inputForm {
    margin: 10px;
    color: black;
    height: 30px;
    padding: 4px;

    border: 1px solid black;
}

/*
#landingPage {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;

    font-family: 'Pacifico', cursive;
    color: black;
    align-content: flex-start;
    align-items: center;
    background-color: rgb(253, 222, 84);
}

#autoCode {
    font-family: Oxygen, sans-serif;
}

#landingPageBox {
    width: 80vw;
    height: 50vh;
    margin: 5vh;
    padding: 3px;
    
    text-align: center;

    background-color: rgba(0, 0, 0, 0);
}

#submitButton {
    margin: 15px;
    padding: 5px;

    font-size: larger;
    border-radius: 10%;
    border: 0px solid black;
    background-color: rgba(252, 252, 252, 1);
}

#inputForm {
    margin: 10px;
    color: black;
    height: 30px;
    padding: 4px;

    border: 1px solid black;
}

/*
#landingPage {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;

    font-family: 'Oxygen', sans-serif;
    color: white;
    justify-content: center;
    align-items: baseline;
    background-repeat: no-repeat;
    background-image: url(https://i1.wp.com/upendoagri.com/wp-content/uploads/2019/12/P1580604-scaled.jpg?resize=1024%2C684);
}

#landingPageBox {
    width: 60vw;
    height: 30vh;
    margin: 20vh 35vh 0vh 5vh;
    padding: 10px;
    
    text-align: center;

    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(220, 221, 222, 0.8);

}


#submitButton {
    margin: 15px;
    padding: 5px;

    color: white;
    font-size: larger;
    border: 1px solid rgba(220, 221, 222, 0.8);
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0);
}

#inputForm {
    margin: 10px;
    color: black;
    height: 30px;
    padding: 4px;

    background-color: rgba(255, 255, 255, 0.7);
    border: 0 solid white;
}

*/