/* Both */
#tanzaniaForestMapContainer {
  border: 3px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
}


#map {
  width: 99%;
  height: 98%;
  border: 5px solid rgb(228, 181, 28);
}

#mapInstructions {
  align-self: center;
}

/*Mobile*/
@media only screen and (max-width: 600px) {
  .mapPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  
    font-family: nunito, sans-serif;
  }
  
  #mapTextContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  
  #mapDescription {
    align-self: center;
  }
  
  #tanzaniaForestMapContainer {
    width: 95%;
    height: 50%;
    align-self: center;
  }
  
}

/*Desktop*/

@media only screen and (min-width: 600px) {
  .mapPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
    grid-template-areas:
        "header header header header header"
        "leftArrow mapText mapText mapText rightArrow"
        "leftArrow map map map rightArrow"
        "leftArrow map map map rightArrow"
        "footer footer footer footer footer ";
    width: 100vw;
    height: 100vh;
    font-family: nunito, sans-serif;
  
    font-family: nunito, sans-serif;
  }
  
  #mapTextContainer {
    grid-area: mapText;
    justify-self: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  
  #mapDescription {
    align-self: center;
    border-bottom: 5px solid green;
  }

  #tanzaniaForestMapContainer {
    grid-area: map;
    justify-self: center;
    align-self: center;
    width: 90%;
    height: 90%;
    
  }
}

