/* Mobile */
@media only screen and (max-width: 600px) {
    .forestPage {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        width: 100vw;
        height: 100vh;

        font-family: nunito, sans-serif;
    }

    .forestImage {
        align-self: center;
        width: 300px;
        height: 250px;
        margin: 10px;
        border: 5px solid rgb(228, 181, 28);
    }

    .forestFact {
        margin: 5px 5%;
        display: flex;
        align-items: center;
    }

    .forestFactIcon {
        width: 50px;
        height: 60px;

        margin: 7px;
    }

    #animalIcon {
        width: 50px;
        height: 40px;
    }

    .forestFactText {
        margin: 0px 7px;
    }


    .forestFactHeader {
        font-weight: bold;
    }
}
    
/*Desktop*/
@media only screen and (min-width: 600px) {
    .forestPage {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "header header header header header"
            "leftArrow area forest animals rightArrow"
            "leftArrow plants forest beekeepers rightArrow"
            "footer footer footer footer footer";
        width: 100vw;
        height: 100vh;
        font-family: nunito, sans-serif;
        grid-gap: 20px;
        row-gap: 100px;
    }

    .forestImage {
        grid-area: forest;
        width: 100%;
        height: auto;
        margin: auto;
        display: block;
        border: 5px solid rgb(228, 181, 28);
    }

    .forestFact {
        margin: 5px 5%;
        display: flex;
        align-items: center;
        height: 50px;
        width: 300px;
    }

    #areaIconContainer {
        grid-area: area;
    }

    #animalIconContainer {
        grid-area: animals;
    }

    #plantIconContainer {
        grid-area: plants
    }

    #beekeeperIconContainer {
        grid-area: beekeepers;
    }

    .forestFactIcon {
        width: 90px;
        height: 90px;

        margin: 7px;
    }

    #animalIcon {
        width: 90px;
        height: 72px;
    }

    #areaIcon {
        width: 72px;
        height: 90px;
    }
    .forestFactText {
        margin: 5px;
        font-size: 16pt;
    }

    .forestFactHeader {
        font-weight: bold;
    }
}
