/* Both */
.environmentCarbonGraphPage {
  width: 100vw;
  height: 100vh;

  font-family: nunito, sans-serif
}

.environmentCarbonGraphText {
  align-self: center;
  grid-area: text;

  display: flex;
  flex-flow: column;
  justify-content: space-evenly;

  padding: 20px;
}

.graphButtonContainer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.graphButton {
  background-color: white;
  font-family: nunito;
  box-shadow: 0px 0px 3px 1px gray;
  border: none;
  border-radius: 5px;
}

.graphButton:disabled {
  background-color: rgb(212, 209, 209);
  color: gray;
  box-shadow: none;
}

.environmentMoreInfo {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 5px;
  width: 90%;
  height: auto;

  border-top: 7px solid rgb(228, 181, 28);
  border-bottom: 7px solid rgb(228, 181, 28);

  text-align: center;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .environmentCarbonGraphPage {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  .environmentCarbonGraphText {
    margin-top: 10%;
    height: 30%;
    width: 95%;
  }

  .environmentCarbonGraphContainer {
    width: 300px;
    height: 250px;
  }

  .graphButton {
    width: 60px;
    height: 20px;
    font-size: 12pt;
  }

  .environmentIcon {
    height: 60px;
    width: 30px;
  }

  @media only screen and (max-height: 700px) {
    .environmentCarbonGraphText {
      font-size: 11pt;
    }

    .environmentMoreInfoText {
      font-size: 10pt;
      width: 70%;
    }
  }
}

/* Desktop */
@media only screen and (min-width: 600px) {
  .environmentCarbonGraphPage {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    grid-template-areas:
      "header header header header"
      "leftArrow graph text rightArrow"
      "leftArrow progress progress rightArrow"
      "footer footer footer footer"
  }

  .environmentCarbonGraphContainer {
    grid-area: graph;
    width: 500px;
    height: 80%;
  }

  .graphButton {
    width: 80px;
    height: 30px;
    font-size: 16pt;
  }

  .graphButton:hover {
    transform: scale(1.1, 1.1);
  }

  .environmentCarbonGraphText {
    height: 90%;
    width: 100%;
  }

  .environmentMoreInfoText {
    width: 50%;
  }

  .environmentIcon {
    width: 50px;
    height: 90px;
  }

  .environmentIcon:hover {
    transform: scale(1.1, 1.1);
  }
}
