
.letterPage {
  height: 100vh;
  width: 100vw;
  display: grid;

  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "progress letter translation arrow"
    "progress caption feather arrow"
    "progress . feather arrow"
    "footer footer footer footer";
}

#letterContainer > img {
  margin-top: 10px;
  border-top: 5px solid rgb(194, 158, 12);
  border-bottom: 5px solid rgb(194, 158, 12);
  border-left: 5px solid rgb(148, 211, 226);
  border-right: 5px solid rgb(148, 211, 226);

  width: 400px; 
  height: 200px;
  grid-area: letter;
}


.caption {
  font-family: Oxygen;
  grid-area: caption;
  align-self: center;

}

.feather {
  grid-area: feather;
  justify-self: end;

}

.feather > img {
  margin: 10px;
  width: 200px;
  height: 200x;
}

#beekeeperLetterTitle {
  width: 40vw;
  margin-left: 30vw;
  margin-right: 30vw;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 10pt;
}

figure > figcaption {
  position: relative;
  margin-left: 5vw;
  font-size: 20pt;
  font-family: 'Pacifico', cursive;
  z-index: 2;
}

div#frame {  
  background-image: url('../../images/frame-desktop.png');
  background-repeat: no-repeat;
  background-size: 400px 300px;
  grid-area: translation;
}

#letterTranslation {
  /** border: 2px solid black; */
  font-family: 'Pacifico', cursive;
  transform: translate(20%,20%);
  width: 300px;
  height: auto;
  font-size: 12pt;
}

@media only screen and (max-width: 600px) {
  .letterPage {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: space-between;
  }

  #letterContainer {
    margin-top: 0 ;
    width: 300px; 
    height: 150px;
    margin-bottom: 0px;
  }
  
  #letterContainer > img {
    margin-top: 0;
    align-self: center;
    width: 290px;
    height: 140px;
    position: relative;
  }
  
  
  #beekeeperLetterTitle {
    display: flex;
    margin: 10px;
    width: 100%;
    height: 70px;
    padding-top: 0px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: small;
  }

  #beekeeperLetterTitle > h2 {
    color: black;
  }
  
  .scroll {
    width: 60px;
    height: 60px;
    background: url('../../images/scroll.svg');
    background-size:  50px, 50px;
    background-repeat: no-repeat;
  }

  .feather {
    width: 60px;
    height: 60px;
    background: url('../../images/feather.svg');
    background-size:  50px, 50px;
    background-repeat: no-repeat;
  }
  
  figure > figcaption {
    position: relative;
    margin-left: 5vw;
    font-size: 20pt;
    font-family: 'Pacifico', cursive;
    z-index: 2;
  }
  
  div#frame {
    margin-left: 5vw;  
    height: 45vh;
    width: auto;
  
    background-image: url('../../images/frame-desktop.png');
    background-size:  90vw 45vh;
  
    background-repeat: no-repeat;

    transform: translate(0,0) rotate(-10deg);
  }

  #letterTranslation {
    /** border: 2px solid black; */
    font-family: 'Pacifico', cursive;
    
    width: 250px;
    height: 200px;
    font-size: 12pt;
  }
}
