

.messagePage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  font-family: 'Nunito', sans-serif;
}

#formBox {
  height: 80%;
  width: 100%;
  padding: 10px;
}

.inputLabel {
  margin: 10px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Bree Serif', serif;
}

#messageLabel {
  margin-top: -30px;
}

label {
  display: none;
}

#messageBox {
  height: 50%;
  width: 90%;
  display: flex;
  flex-flow: column;
  align-items: center;
  
  background-image: url('../../images/message-frame.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 100% 100%;
  background-color: rgb(252, 245, 239);
}

#detailsBox{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

#emailForm, #nameForm {
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
  height: 30px;
  border: 1px solid rgb(41, 131, 14);
}

#nameBox, #emailBox {
  display: flex;
}


.contactForm {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

#messageForm {
  margin: 10% 20%;
  color: rgb(51, 36, 59);
  width: 80%;
  height: 80%;
  box-sizing: border-box;
  word-wrap: break-word;
  border: 0px solid black;
  background-color: rgba(0, 0, 0, 0);
  font-size: 12px;
  font-family: "Indie Flower", cursive;
}



#sendButton {
  margin: 15px;
  padding: 5px;
  font-family: 'Nunito', sans-serif;
  
  font-size: larger;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10%;
  background-color: rgba(117, 91, 179, 0);

  box-shadow: -1px 1px 2px 1px rgb(65, 64, 64);
  align-self: center;
  color: black;
}

#sendButton:hover {
  transform: scale(1.1, 1.2);
}

@media only screen and (min-width: 600px) {

  .messagePage {
    height: 100vh;
    width: 100vw;
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr 1fr;
    grid-template-areas:
    "header header header header header header"
    ". progress form form . arrow"
    ". progress form form . arrow"
    ". progress form form . arrow"
    ". progress form form . arrow"
    "footer footer footer footer footer footer";
  }

  #descriptionText {
    font-family: 'Nunito', sans-serif;
    position: absolute;
    margin: 10px;
    font-size: 18pt;
    top: 10%;
  }

  #formBox {
    grid-area: form;
    justify-self: center;
    height: 100%;
    width: 100%;
  }

  #messageForm {
    margin: 20px;
    height:100%;
    font-size: 14px;
  }

  .inputLabel {
    font-size: 20px;
  }

  #messageLabel {
    margin-top: -40px;
  }


  #detailsBox {
    width: 60%;
  }

  #inputDetailsBox {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 80%;
  }
}