/* Both */
.beekeeperFlexContainer {
  width: 100vw;
  height: 100vh;
  font-family: 'Nunito', sans-serif;

  --portraitHeight:300px;
  --portraitWidth:300px;
}

.portrait {
  grid-area: portrait;
  padding: 20px;
}

.portraitShape {
  margin: 10px;
  width: var(--portraitWidth);
  height: var(--portraitHeight);
  background-color: white;
  border-radius: var(--portraitWidth) / var(--portraitHeight) ;
  overflow: hidden;

  border: 7px solid rgb(228, 181, 28);

}

.portraitImage {
  width: var(--portraitWidth);
  height: var(--portraitHeight);
}

.portraitCaption {
  position: relative;
  font-family: 'Indie Flower', cursive;
  margin-top: -30px;
  color: black;

  z-index: 1;
}


/* Mobile */
@media only screen and (max-width: 600px) {

  .beekeeperFlexContainer {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: space-between;

    --portraitHeight:300px;
    --portraitWidth:300px;

  }

  .portrait {
    margin-left: 15%;
    margin-bottom: 10%;
  }

  .portraitCaption {
    font-size: 16pt;
    margin-left: 0;
  }

  .descriptionContainer {
    background-image: none;
    margin: 10px;
  }
  .description {
    width: 300px;
    font-size: 12pt;
    font-family: 'Nunito', sans-serif;

    padding-left: 4px;
    padding-right: 20px;
    margin-top: 0px;
    margin-left: 10%;
    
    border-left-color: rgb(106, 74, 182);
    border-left-width: 8px;
    border-left-style: solid;
  }
}

/* For cases where the screen is too short 
for large text*/
@media only screen and (max-height: 700px) {
  .description {
    font-size: 10pt;
  }
}

/* Desktop */
@media only screen and (min-width: 600px) {
  .beekeeperFlexContainer {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    grid-template-areas:
      "header header header header"
      "leftArrow description portrait rightArrow"
      "leftArrow progress progress rightArrow"
      "footer footer footer footer";
  }

  .progressBar {
    align-self: center;
  }

  .portraitCaption {
    font-size: 30pt;
    margin-left: -50px;
  }

  .descriptionContainer {
    grid-area: description;
    background-image: url(../../images/beekeeper-frame.png);
    background-repeat: no-repeat;
    background-size: 400px 300px;
    margin: 10px;
  }

  .description {
    width: 300px;
    font-size: 12pt;
    font-family: 'Nunito', sans-serif;
    padding-left: 4px;
    margin-left: 10%;
    padding-right: 20px;
    margin-top: 50px;
  }
}