<<<<<<< HEAD
<<<<<<< HEAD
#letterContainer > img {
  margin-top: 0;
  margin-left: 10vw;
  margin-right: 5vw; 
=======
=======
>>>>>>> a7e0709cd5645f3fc7cdd617a5d730ea3bc23ef1
.letterPage {
  height: 100vh;
  width: 100vw;
  display:flex;
  flex-flow: column wrap;
  align-items: stretch;
  justify-content: space-between;
}

#letterContainer > img {
  margin-top: 0;
<<<<<<< HEAD
>>>>>>> Touched up mobile designs (flexbox, spacing)
=======
>>>>>>> a7e0709cd5645f3fc7cdd617a5d730ea3bc23ef1
  border-top: 2vw solid rgb(194, 158, 12);
  border-bottom: 2vw solid rgb(194, 158, 12);
  border-left: 2vw solid rgb(148, 211, 226);
  border-right: 2vw solid rgb(148, 211, 226);
<<<<<<< HEAD
<<<<<<< HEAD

  
  width: 80vw;
  height: auto;
=======
=======
>>>>>>> a7e0709cd5645f3fc7cdd617a5d730ea3bc23ef1
  position: relative;
  
  width: 80vw;
  height: auto;
  z-index: 0;
<<<<<<< HEAD
>>>>>>> Touched up mobile designs (flexbox, spacing)
=======
>>>>>>> a7e0709cd5645f3fc7cdd617a5d730ea3bc23ef1
}

#beekeeperLetterTitle {
  width: 40vw;
  margin-left: 30vw;
  margin-right: 30vw;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 10px;
}

<<<<<<< HEAD
<<<<<<< HEAD
div > figcaption {
  margin-left: 20vw;
  font-weight: 1000;
  font-family: 'Pacifico', cursive;
=======
=======
>>>>>>> a7e0709cd5645f3fc7cdd617a5d730ea3bc23ef1
figure > figcaption {
  position: relative;
  margin-left: 5vw;
  font-weight: 1000;
  font-family: 'Pacifico', cursive;
  z-index: 2;
<<<<<<< HEAD
>>>>>>> Touched up mobile designs (flexbox, spacing)
=======
>>>>>>> a7e0709cd5645f3fc7cdd617a5d730ea3bc23ef1
}

div#frame {
  margin-left: 5vw;  
<<<<<<< HEAD
<<<<<<< HEAD
=======
  margin-bottom: 20px;
>>>>>>> Touched up mobile designs (flexbox, spacing)
=======
  margin-bottom: 20px;
>>>>>>> a7e0709cd5645f3fc7cdd617a5d730ea3bc23ef1
  height: 40vh;
  width: auto;

  background-image: url('../../images/Frame.svg');
  background-size:  90vw 40vh;

  background-repeat: no-repeat;
}

div#frame > div {
  /** border: 2px solid black; */
  font-family: 'Pacifico', cursive;
<<<<<<< HEAD
<<<<<<< HEAD
  transform: translate(80px,50px) rotate(-10deg);
  
  width: 55vw;
  height: auto;
}
=======
=======
>>>>>>> a7e0709cd5645f3fc7cdd617a5d730ea3bc23ef1
  transform: translate(60px,45px) rotate(-10deg);
  
  width: 60vw;
  height: auto;
}
<<<<<<< HEAD
>>>>>>> Touched up mobile designs (flexbox, spacing)
=======
>>>>>>> a7e0709cd5645f3fc7cdd617a5d730ea3bc23ef1
