.beekeeperFlexContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
  grid-template-areas:
    "header header header header"
    "progress description portrait arrow"
    "progress description portrait arrow"
    "progress trees trees arrow"
    "footer footer footer footer";
  width: 100vw;
  height: 100vh;
  font-family: 'Nunito', sans-serif;

  --portraitHeight:400px;
  --portraitWidth:300px;
}

.progressBar {
  align-self: center;
}

#trees {
  grid-area: trees;
  height: 200px;
  width: 500px;
  align-self: end;
}

.portrait {
  grid-area: portrait;
}

.portraitShape {
  width: var(--portraitWidth);
  height: var(--portraitHeight);
  background-color: white;
  border-radius: var(--portraitWidth) / var(--portraitHeight) ;
  overflow: hidden;

  border: 7px solid rgb(228, 181, 28);
 
  transform: skew(0deg, -10deg);

}

.portraitImage {
  transform: skew(0deg, 10deg);
  width: var(--portraitWidth);
  height: var(--portraitHeight);
}

.portraitCaption {
  position: relative;
  font-family: 'Indie Flower', cursive;
  font-size: 30pt;
  margin-left: -50px;
  margin-top: -10px;
  color: black;

  z-index: 2;
}

.descriptionContainer {
  grid-area: description;
}

.description {
  width: 70%;
  font-size: 14pt;
  font-family: Oxygen, sans-serif;
  border-left-color: #67c2db;
  border-left-width: 8px;
  border-left-style: solid;
  padding-left: 4px;
  margin-left: 10%;
  padding-right: 20px;

}

@media only screen and (max-width: 800px) {

  .beekeeperFlexContainer {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: space-between;

  }

  .portrait {
    margin-left: 20%;
  }

  .portraitCaption {
    font-size: 16pt;
  }

  .description {
    font-size: 10pt;

  }
}