.beekeeperFlexContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "leftArrow description portrait rightArrow"
    "leftArrow description portrait rightArrow"
    "leftArrow progress progress rightArrow"
    "footer footer footer footer";
  width: 100vw;
  height: 100vh;
  font-family: 'Nunito', sans-serif;

  --portraitHeight:400px;
  --portraitWidth:300px;
}

.progressBar {
  align-self: center;
}

#trees {
  grid-area: trees;
  height: 100px;
  width: 300px;
  align-self: end;
}

.portrait {
  grid-area: portrait;
}

.portraitShape {
  margin: 10px;
  width: var(--portraitWidth);
  height: var(--portraitHeight);
  background-color: white;
  border-radius: var(--portraitWidth) / var(--portraitHeight) ;
  overflow: hidden;

  border: 7px solid rgb(228, 181, 28);
 
  transform: skew(0deg, -10deg);

}

.portraitImage {
  transform: skew(0deg, 10deg);
  width: var(--portraitWidth);
  height: var(--portraitHeight);
}

.portraitCaption {
  position: relative;
  font-family: 'Indie Flower', cursive;
  font-size: 30pt;
  margin-left: -50px;
  margin-top: -30px;
  color: black;

  z-index: 2;
}

.descriptionContainer {
  grid-area: description;
  background-image: url(../../images/beekeeper-frame.png);
  background-repeat: no-repeat;
  background-size: 400px 350px;
  margin: 10px;
}

.description {
  width: 300px;
  font-size: 14pt;
  font-family: Oxygen, sans-serif;
  padding-left: 4px;
  margin-left: 10%;
  padding-right: 20px;
  margin-top: 50px;
}

@media only screen and (max-width: 800px) {

  .beekeeperFlexContainer {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: space-between;

  }

  .portrait {
    margin-left: 20%;
  }

  .portraitCaption {
    font-size: 16pt;
  }

  .descriptionContainer {
    background-image: none;
  }
  .description {
    font-size: 10pt;
    margin-top: 0px;
    border-left-color: rgb(106, 74, 182);
    border-left-width: 8px;
    border-left-style: solid;
  }
}