/* Desktop Page */
.letterPage {
  height: 100vh;
  width: 100vw;
  display: grid;
  font-family: 'Indie Flower', cursive;

  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "leftArrow letter translation rightArrow"
    "leftArrow letter translation rightArrow"
    "leftArrow progress progress rightArrow"
    "footer footer footer footer";
}

#letterContainer {
  grid-area: letter;
  justify-self: center;
  align-self: center;
}

#letterFrame {
  background-color: black;
  position: relative;
  height: 300px;
  width: 500px;
  text-align: center;
}

#letterFrame::after {
  content: "";
  background-image: url('../../images/letter-frame.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;

}

#letterFrame > img {
  /*border-top: 5px solid rgb(194, 158, 12);
  border-bottom: 5px solid rgb(194, 158, 12);
  border-left: 5px solid rgb(148, 211, 226);
  border-right: 5px solid rgb(148, 211, 226);*/
  position: relative;
  top: 5%;
  width: 90%;
  height: 90%;
}

#beekeeperLetterTitle {
  width: 40vw;
  margin-left: 30vw;
  margin-right: 30vw;
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-size: 10pt;
}

figure > figcaption {
  position: relative;
  margin-left: 5vw;
  font-size: 20pt;
  font-family: 'Bree Serif', serif;
  z-index: 2;
}

#letterTranslation {
  /** border: 2px solid black; */
  grid-area: translation;
  align-self: center;
  justify-self: center;


  width: 100%;
  margin-top: 10%;
  padding: 5px;
  padding-left: 20%;
  padding-right: 20%;
  height: auto;
  font-size: 14pt;
  border-top: 5px solid rgb(97, 57, 30);
  border-bottom: 5px solid rgb(97, 57, 30);
  background-color: rgb(223, 211, 204);
}

/* Mobile Page */
@media only screen and (max-width: 600px) {
  .letterPage {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: space-between;
  }

  #letterContainer {
    margin: 10px;

    padding-top: 10%;
  }

  #letterFrame {
    background-color: black;
    position: relative;
    height: 200px;
    width: 300px;
    text-align: center;
  }
  
  #letterFrame > img {
    align-self: center;
    width: 90%;
    height: 90%;
    position: relative;
  }

  figure > figcaption {
    position: relative;
    margin-left: 5vw;
    font-size: 20pt;
    z-index: 2;
  }

  #letterTranslation {
    /** border: 2px solid black; */
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 0;

    width: 90%;
    height: auto;
    font-size: 14pt;

    text-align: center;
  }

  @media only screen and (max-height: 700px) {
    #letterTranslation {
      font-size: 12pt;
      margin-bottom: 0;
    }
  }

}
